<p style="color: green"><%= notice %></p>
<%= form_with(model: @commentary) do |form| %>
<%= render @post %>
  <h2>Comments</h2>
    <% @commentaries.each do |comment| %>
      <p><%= comment.description %></p>
      <p><strong>By:</strong> <%= comment.user.email %></p>
    <% end %>
  <div>
  <%= form.label :"Leave a comment", style: "display: block" %>
  <%= form.text_field :description %>
</div>
<div>
  <%= button_to "Save", @commentary, method: :create %>
</div>
<%end%>
<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Delete this post", @post, method: :delete %>
</div>
